{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    {{ include('_dashboard.html.twig') }}

        <p>
            popup galleries of San Crisobal!
        </p>
        {{ app.environment }}

        {{ 'hello'|trans }}
        {{ 'artists'|trans }}


{% endblock %}
