{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    <p>
        popup galleries of San Crisobal!
    </p>

    {{ 'hello'|trans }}
    {{ 'artists'|trans }}


</div>
{% endblock %}
