<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="tests/bootstrap.php" cacheDirectory=".phpunit.cache" failOnDeprecation="true" failOnWarning="true">
  <php>
    <server name="DATABASE_URL" value="sqlite:///:memory:" force="true"/>
    <server name="GOOGLE_SPREADSHEET_ID" value="test-spreadsheet" force="true"/>
    <server name="MAILER_DSN" value="null://null" force="true"/>
    <ini name="display_errors" value="1"/>
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
    <server name="BROWSER_ALWAYS_START_WEBSERVER" value="1"/>
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <extensions>
        <bootstrap class="Zenstruck\Foundry\PHPUnit\FoundryExtension" />
    <bootstrap class="Symfony\Component\Panther\ServerExtension"/>
  </extensions>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
