{% for obra in entity.instance.obras %}
    <a href="/admin/obra/{{ obra.id }}/edit">
        {% if obra.obraImages|length %}
            <div class="mb-1">
                {% for obraImage in obra.obraImages %}
                    <img src="{{ asset('images/obra/' ~ obraImage.imageName) }}" alt="Obra Image" width="65" />
                {% endfor %}
            </div>
        {% endif %}

        <div class="text-primary">
            {{ obra.title }}<br/><b>por {{ obra.artist }}</b>
        </div>
    </a>
    <hr class="my-2">
{% endfor %}

