{{ entity.instance.obras|length }}
    {% for obra in entity.instance.obras %}

        <div>

{#            {% if obra.image %}#}
{#            <div>#}
{#                {% set url = obra.image starts with 'https' ? obra.image : "/uploads/" ~ obra.image %}#}
{#                <img src="{{ url }}" style="max-width: 65px"  />#}
{#            </div>#}
{#            {% endif %}#}
            <div >
                {{ obra.title }}<br />por {{ obra.artist }}
            </div>
        </div>
    {% endfor %}

