{% extends '@EasyAdmin/layout.html.twig' %}

{% block body_id 'dashboard' %}

{% block main %}
    <h1 class="page-title">Popup Galleries of San Cris</h1>

    <p class="description">
        {{ 'admin.description'|trans }}
    </p>

    {{ include('_dashboard.html.twig') }}

{% endblock %}
