{% extends 'base.html.twig' %}

{% block body %}
    This is mostly to test JsonTranslate
    {{ form(form) }}
{#    {{ form_start(form) }}#}
{#    <button type="submit">Save</button>#}
{#    {{ form_end(form) }}#}

{% endblock %}

